
@{
    ViewBag.Title = "Index";
}

<!-- Page Title -->
<div class="page-title">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-7">
                <h2>Department</h2>
            </div>

            <div class="col-md-6 col-lg-5">
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li>Department</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title -->
<!-- Department Details section -->
<section class="department-details ptb-100">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-12">
                <div class="department-details">
                    <div class="img">
                        <img src="~/Public/assets/img/slider/1.jpg" alt="department-details">
                    </div>

                    <div class="department-desc">
                        <h3>Get the right care based on your individual needs.</h3>
                        <p>Quisque pellentesque nibh ut sem elementum pulvinar. Integer bibendum, ligula a dapibus bibendum, massa lectus condimentum augue, sit amet rhoncus nibh arcu ut urna. Nam imperdiet id lectus sed vestibulum. Ut tempor libero sit amet metus fermentum ullamcorper. Nullam scelerisque iaculis purus eu varius. Integer molestie in leo et consectetur.</p>

                        <p>Donec varius velit quis tellus eleifend iaculis. Aenean mi nulla, aliquam placerat orci non, maximus semper ligula.Etiam porta urna eget neque imperdiet efficitur. Aliquam odio orci, vehicula in interdum ultricies, bibendum in velit. Quisque pellentesque nibh ut sem elementum pulvinar. Integer bibendum, ligula a dapibus bibendum, massa lectus condimentum augue, sit amet rhoncus nibh arcu ut urna. Nam imperdiet id lectus sed vestibulum. Ut tempor libero sit amet metus fermentum ullamcorper. Nullam scelerisque iaculis purus eu varius. Integer molestie in leo et consectetur.</p>
                    </div>

                    <div class="share-department">
                        <h4>Like this department?</h4>

                        <ul>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 col-md-12">
                <div class="department-sidebar">
                    <div class="department-info">
                        <h4>Head of Department</h4>
                        <ul>
                            <li>Intensivist <span>Dr. Emma Johnson</span></li>
                        </ul>
                    </div>

                    <div class="department-info">
                        <h4>Event Hours</h4>
                        <ul>
                            <li>Mon-Sun <span>Attending physician</span></li>
                        </ul>
                    </div>

                    <div class="department-info mb-0">
                        <h4>Contacts</h4>
                        <ul>
                            <li>Address: <span>Suite 304. Brooklyn, NY 10036</span></li>
                            <li>Email: <span><a href="#">doctor-promedi@mail.com</a></span></li>
                            <li>Call Us: <span>+1-800-123-1234</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Department Details section -->
<!-- Call To Action -->
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="call-to-action-text">
                    <i class="icofont-first-aid"></i>
                    <h3>Health Care Center</h3>
                    <p>if you have any Emerangcy by health problem contact this <span>No. 035 687 9514</span> or contact form</p>
                </div>
            </div>

            <div class="col-lg-3">
                <a href="#" class="default-btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call To Action -->
