@model Blog
@{
    ViewData["Title"] = "Detail";
}

<!-- top header wrapper start -->
<div class="page_title_section">

    <div class="page_header">
        <div class="container">
            <div class="row">
                <!-- section_heading start -->
                <div class="col-lg-9 col-md-8 col-12 col-sm-7">

                    <h1>blog single</h1>
                </div>
                <div class="col-lg-3 col-md-4 col-12 col-sm-5">
                    <div class="sub_title_section">
                        <ul class="sub_title">
                            <li> <a href="~/#"> Home </a>&nbsp; / &nbsp; </li>
                            <li>blog single</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- top header wrapper end -->
<!--job listing filter  wrapper start-->
<div class="blog_single_wrapper jb_cover">
    <div class="container">

        <div class="row">
            <div class="col-lg-9 col-md-12 col-sm-12 col-12">

                <div class="jp_first_blog_post_main_wrapper jb_cover">
                    <div class="jp_first_blog_post_img">
                        <img src="~/images/blog3.jpg" class="img-responsive" alt="blog_img" />
                    </div>
                    <div class="jp_first_blog_post_cont_wrapper">
                        <p><span>FEb 19, 2019</span></p>
                        <h3>
                            <a href="~/#">
                               @Model.Title

                            </a>
                        </h3>
                        <p>
                            Layout for agencies and freelancers. Fully animated and unique sections make item more attractive. Brabus is the best way to create agency or portfolio website. It is easy to customize codes, based on Bootstrap and Sass.Brabus is smooth.
                        </p>
                        <img src="~/images/blog_single.jpg" alt="img">
                        <div class="blog_single_text">
                            <p>
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod empor nt ut labore et dolore magna aliquaenim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                                <br>
                                <br> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Exceint occaecat cupidatat
                            </p>
                        </div>
                        <p class="jb_cover prty">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et ore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea codo consequat. Duis aute irure dolor in reprehenderit in voluptate elit esse cillum dolore eu fugiat nulla paratur Excepteur sint occaecat.</p>
                    </div>
                    <div class="gc_blog_letest_week_wrapper jb_cover">
                        <div class="gc_blog_quote_wrapper">
                            <img src="~/images/quote.png" alt="quote">
                            <h3>"Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor indunt ut labore et dolore magna aliqua. "</h3>
                            <p>- by farhan sheikh</p>
                        </div>
                    </div>
                    <div class="jp_first_blog_post_cont_wrapper">

                        <p>
                            Layout for agencies and freeis the best way to create agency or portfolio website. It is easy to customize codes, bas lancers. Fully animated and unique sections make item more attractive. Brabus is the best way to create agency or portfolio website. It is easy to customize codes, based on Bootstrap and Sass.Brabus is smooth.
                        </p>
                    </div>
                    <div class="jp_first_blog_bottom_cont_wrapper jb_cover">
                        <div class="jp_blog_bottom_left_cont">
                            <ul>
                                <li><img src="~/images/bs1.jpg" alt="small_img" />&nbsp;&nbsp; Jhon Doe</li>
                            </ul>
                        </div>
                        <div class="jp_blog_bottom_right_cont">
                            <p><a href="~/#"><i class="far fa-comment-dots"></i><span>4</span></a></p>
                            <ul>
                                <li></li>
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-google-plus-g"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-pinterest-p"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="jp_blog_single_client_main_section jb_cover">
                    <div class="jp_blog_single_client_img">
                        <img src="~/images/client.jpg" alt="blog_client" />
                    </div>
                    <div class="jp_blog_single_client_cont">
                        <h3>About Admin - Ajay Suryavanshi</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus auctor lacinia tesue. Vivamus et tellus in urna faucibus porttitor. Sed auctor ut nunc..</p>
                        <div class="jp_listing_left_bottom_sidebar_social_wrapper blog_single_link">
                            <ul>
                                <li></li>
                                <li><a href="~/#"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="~/#"><i class="fab fa-linkedin-in"></i></a></li>

                                <li><a href="~/#"><i class="fab fa-google-plus-g"></i></a></li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="comments_wrapper jb_cover">
                    <div class="widget_heading">
                        <h2>comments (04)</h2>
                    </div>

                    <div class="comments_Box">
                        <div class="img_wrapper">
                            <img src="~/images/cmnt1.jpg" class="" alt="author_img" />
                        </div>
                        <div class="text_wrapper">
                            <div class="author_detail">
                                <span class="author_name"> Jhon Doe</span>
                                <span class="publish_date"> July 1, 2019 - </span>
                            </div>
                            <div class="author_content">
                                <p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus. </p>
                                <a href="~/#">Reply</a>
                            </div>
                        </div>
                    </div>

                    <div class="comments_Box">

                        <div class="img_wrapper">
                            <img src="~/images/cmnt2.jpg" class="" alt="author_img" />
                        </div>
                        <div class="text_wrapper">
                            <div class="author_detail">
                                <span class="author_name"> Steffa Ferello  </span>
                                <span class="publish_date"> July 4, 2019 -  </span>
                            </div>
                            <div class="author_content">
                                <p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus. </p>
                                <a href="~/#">Reply</a>
                            </div>
                        </div>
                    </div>

                    <div class="comments_Box">
                        <div class="img_wrapper">
                            <img src="~/images/cmnt3.jpg" class="" alt="author_img" />
                        </div>
                        <div class="text_wrapper">
                            <div class="author_detail">
                                <span class="author_name"> Matin Lauran</span>
                                <span class="publish_date"> March 1, 2019 -</span>
                            </div>
                            <div class="author_content">
                                <p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus. </p>
                                <a href="~/#">Reply</a>
                            </div>
                        </div>
                    </div>

                    <div class="comments_Box last_comment_box">
                        <div class="img_wrapper">
                            <img src="~/images/cmnt4.jpg" class="" alt="author_img" />
                        </div>
                        <div class="text_wrapper">
                            <div class="author_detail">
                                <span class="author_name"> Eva Marilla</span>

                                <span class="publish_date"> July 10, 2019 -</span>
                            </div>
                            <div class="author_content">
                                <p>Integer porttitor fringilla vestibulum. Phasellus curs our tinnt nulla, ut mattis augue finibus ac. Vivamus elementum enim ac enim ultrices rhoncus. </p>
                                <a href="~/#">Reply</a>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="comments_form jb_cover">
                    <div class="widget_heading">
                        <h2>leave a comment</h2>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12">
                            <div class="formsix-pos">
                                <div class="form-group i-name">

                                    <input type="text" class="form-control" required="" placeholder="Full Name *">
                                    <i class="fas fa-user-alt"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-6 col-sm-12">
                            <div class="formsix-e">
                                <div class="form-group i-email">

                                    <input type="email" class="form-control" required="" placeholder="Email Address *">
                                    <i class="fas fa-envelope"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-6 -->
                        <div class="col-md-12 col-sm-12">
                            <div class="formsix-m">
                                <div class="form-group i-message">

                                    <textarea class="form-control" required="" rows="4" placeholder="comments"></textarea>
                                    <i class="fas fa-comment"></i>
                                </div>
                            </div>
                        </div>
                        <!-- /.col-md-12 -->
                    </div>
                    <!-- /.row-->
                    <div class="header_btn search_btn jb_cover">

                        <a href="~/#">submit</a>

                    </div>
                </div>

            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 col-12">
                <div class="job_filter_category_sidebar jb_cover">
                    <div class="job_filter_sidebar_heading jb_cover">
                        <h1>search</h1>
                    </div>

                    <div class="category_jobbox jb_cover">
                        <div class="jp_blog_right_search_wrapper jb_cover">
                            <input type="text" placeholder="Search">
                            <button type="submit"><i class="fas fa-search"></i></button>
                        </div>
                    </div>
                </div>
                <div class="job_filter_category_sidebar jb_cover">
                    <div class="job_filter_sidebar_heading jb_cover">
                        <h1>blog category</h1>
                    </div>

                    <div class="category_jobbox jb_cover">
                        <ul class="blog_category_link jb_cover">
                            <li><i class="fa fa-caret-right"></i> <a href="~/#">Graphic Designer <span>(214)</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="~/#">Engineering Jobs <span>(514)</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="~/#">Mainframe Jobs <span>(554)</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="~/#">Legal Jobs <span>(457)</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="~/#">IT Jobs <span>(1254)</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="~/#">R&amp;D Jobs <span>(554)</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="~/#">Government Jobs <span>(350)</span></a></li>
                            <li><i class="fa fa-caret-right"></i> <a href="~/#">PSU Jobs <span>(221)</span></a></li>

                        </ul>
                        <div class="seeMore"><a href="~/#">view all categories</a></div>
                    </div>
                </div>
                <div class="job_filter_category_sidebar jb_cover">
                    <div class="job_filter_sidebar_heading jb_cover">
                        <h1>career advice</h1>
                    </div>

                    <div class="category_jobbox jb_cover">
                        <div class="jp_rightside_career_content_wrapper jb_cover">
                            <div class="jp_rightside_career_img">
                                <img src="~/images/blog_ct1.jpg" alt="career_img" />
                            </div>
                            <div class="jp_rightside_career_img_cont">
                                <h4><a href="~/#">Job Seekeks OCT - 2019</a></h4>
                                <p><i class="far fa-calendar"></i>&nbsp;20 OCT, 2019</p>
                            </div>
                        </div>
                        <div class="jp_rightside_career_content_wrapper jb_cover">
                            <div class="jp_rightside_career_img">
                                <img src="~/images/blog_ct2.jpg" alt="career_img" />
                            </div>
                            <div class="jp_rightside_career_img_cont">
                                <h4><a href="~/#">digital world NOV - 2018</a></h4>
                                <p><i class="far fa-calendar"></i> &nbsp;20 OCT, 2018</p>
                            </div>
                        </div>
                        <div class="jp_rightside_career_content_wrapper jb_cover">
                            <div class="jp_rightside_career_img">
                                <img src="~/images/blog_ct3.jpg" alt="career_img" />
                            </div>
                            <div class="jp_rightside_career_img_cont">
                                <h4><a href="~/#">Job Seekeks DEC - 2019</a></h4>
                                <p><i class="far fa-calendar"></i> &nbsp;20 OCT, 2019</p>
                            </div>
                        </div>
                        <div class="seeMore"><a href="~/#">view all </a></div>
                    </div>
                </div>
                <div class="job_filter_category_sidebar jb_cover">
                    <div class="job_filter_sidebar_heading jb_cover">
                        <h1>job spotlight</h1>
                    </div>

                    <div class="category_jobbox jb_cover">
                        <div class="jp_spotlight_slider_wrapper">
                            <div class="owl-carousel owl-theme">
                                <div class="item">
                                    <div class="jp_spotlight_slider_img_Wrapper">
                                        <img src="~/images/spt1.jpg" alt="spotlight_img" />
                                    </div>
                                    <div class="jp_spotlight_slider_cont_Wrapper">
                                        <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>

                                        <p><a href="~/#">Webstrot Technology Ltd.</a></p>
                                        <ul>
                                            <li><i class="far fa-money-bill-alt"></i>&nbsp; $12K - 15k P.A.</li>
                                            <li><i class="fas fa-map-marker-alt"></i>&nbsp; Caliphonia, PO 455001</li>
                                        </ul>
                                    </div>
                                    <div class="header_btn search_btn news_btn overview_btn  jb_cover">

                                        <a href="~/#">apply now !</a>

                                    </div>

                                </div>
                                <div class="item">
                                    <div class="jp_spotlight_slider_img_Wrapper">
                                        <img src="~/images/spt1.jpg" alt="spotlight_img" />
                                    </div>
                                    <div class="jp_spotlight_slider_cont_Wrapper">
                                        <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                        <p><a href="~/#">Webstrot Technology Ltd.</a></p>
                                        <ul>
                                            <li><i class="far fa-money-bill-alt"></i>&nbsp; $12K - 15k P.A.</li>
                                            <li><i class="fas fa-map-marker-alt"></i>&nbsp; Caliphonia, PO 455001</li>
                                        </ul>
                                    </div>
                                    <div class="header_btn search_btn news_btn overview_btn  jb_cover">

                                        <a href="~/#">apply now !</a>

                                    </div>

                                </div>
                                <div class="item">
                                    <div class="jp_spotlight_slider_img_Wrapper">
                                        <img src="~/images/spt1.jpg" alt="spotlight_img" />
                                    </div>
                                    <div class="jp_spotlight_slider_cont_Wrapper">
                                        <h4>HTML Developer (1 - 2 Yrs Exp.)</h4>
                                        <p><a href="~/#">Webstrot Technology Ltd.</a></p>
                                        <ul>
                                            <li><i class="far fa-money-bill-alt"></i>&nbsp; $12K - 15k P.A.</li>
                                            <li><i class="fas fa-map-marker-alt"></i>&nbsp; Caliphonia, PO 455001</li>
                                        </ul>
                                    </div>
                                    <div class="header_btn search_btn news_btn overview_btn  jb_cover">

                                        <a href="~/#">apply now !</a>

                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="job_filter_category_sidebar jb_cover">
                    <div class="job_filter_sidebar_heading jb_cover">
                        <h1>recent resumes</h1>
                    </div>

                    <div class="category_jobbox jb_cover">
                        <div class="jp_rightside_career_content_wrapper jb_cover">
                            <div class="jp_rightside_career_img">
                                <img src="~/images/rs1.jpg" alt="career_img" />
                            </div>
                            <div class="jp_rightside_career_img_cont">
                                <h4><a href="~/#">akshay <br>due</a></h4>
                                <p><i class="fa fa-folder-open"></i> &nbsp; dancer</p>
                            </div>
                        </div>
                        <div class="jp_rightside_career_content_wrapper jb_cover">
                            <div class="jp_rightside_career_img">
                                <img src="~/images/rs2.jpg" alt="career_img" />
                            </div>
                            <div class="jp_rightside_career_img_cont">
                                <h4><a href="~/#">farhan <br> Shaikh</a></h4>
                                <p><i class="fa fa-folder-open"></i> &nbsp; UI designer</p>
                            </div>
                        </div>
                        <div class="jp_rightside_career_content_wrapper jb_cover">
                            <div class="jp_rightside_career_img">
                                <img src="~/images/rs3.jpg" alt="career_img" />
                            </div>
                            <div class="jp_rightside_career_img_cont">
                                <h4><a href="~/#">maria <br> simon</a></h4>
                                <p><i class="fa fa-folder-open"></i>&nbsp; developer</p>
                            </div>
                        </div>
                        <div class="seeMore"><a href="~/#">view all resume</a></div>
                    </div>
                </div>
                <div class="jp_add_resume_wrapper jb_cover">
                    <div class="jp_add_resume_img_overlay"></div>
                    <div class="jp_add_resume_cont">
                        <img src="~/images/logo2.png" alt="logo" />
                        <h4>Get Best Matched Jobs On your Email. Add Resume NOW!</h4>
                        <div class="width_50">
                            <input type="file" id="input-file-now-custom-233" class="dropify" data-height="90" /><span class="post_photo">add resume</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- blog single wrapper end-->
<!-- news app wrapper start-->
<div class="news_letter_wrapper jb_cover">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="job_newsletter_wrapper jb_cover">
                    <div class="jb_newslwtteter_left">
                        <h2> Looking For A Job</h2>
                        <p>Your next level Product developemnt company assetsYour next level Product </p>
                    </div>
                    <div class="jb_newslwtteter_button">
                        <div class="header_btn search_btn news_btn jb_cover">

                            <a href="~/#">submit</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- news app wrapper end-->
