@model List<Service>
@{
    ViewData["Title"] = "Index";
}
<!-- breadcrumb-banner-area -->
<div class="breadcrumb-banner-area ptb-120 bg-opacity" style="background-image:url(~/assets/img/bg/6.jpg)">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="breadcrumb-text text-center">
                    <h2>service</h2>
                    <ul class="breadcrumb-menu">
                        <li><a href="~/#">service</a></li>
                        <li><a href="~/#">about us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb-banner-area-end -->
<!-- our-service-area-start -->
<div class="our-service-area pt-120 pb-90">
    <div class="container">
        <div class="section-title mb-60 text-center" style="background-image:url(~/assets/img/logo/section.png)">
            <h4>We Provide</h4>
            <h2>Our Services</h2>
        </div>
        <div class="row">
            @foreach (Service service in Model)
            {
                <div class="col-md-4 col-sm-6">
                    <div class="service-wrapper mb-30">
                        <div class="service-img">
                            <img src="~/assets/img/service/@service.ServicePhotos.FirstOrDefault().Path" alt="" />
                        </div>
                        <div class="service-text text-center">
                            <div class="service-icon-img">
                                <i class="flaticon-house-icon"></i>
                            </div>
                            <h2><a href="@Url.Action("Details","Service", new { id = service.Id })">@service.Title</a></h2>
                            <p>@(service.Description.Length > 150 ? service.Description.Substring(0, 150) + "..." : service.Description)</p>
                            <a href="@Url.Action("Details","Service", new { id = service.Id })">read more</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- our-service-area-end -->
