@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common
@using X.PagedList;

@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="row centered">
    <div class="col-12 my-3">
        <h2>Product List</h2>
    </div>

    @foreach (var product in Model)
    {
        <div class="col-lg-4 mb-3">
            <div class="card" style="width: 18rem;">
                <img src="https://via.placeholder.com/286x180" class="card-img-top" alt="https://via.placeholder.com/286x180">
                <div class="card-body">
                    <h5 class="card-title">@product.Name</h5>
                    <p class="card-text">@product.Description</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    }




    <div class="col-12">
        @Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page = page }),
        new PagedListRenderOptionsBase
            {
                DisplayItemSliceAndTotal = true,
                ContainerDivClasses = new[] { "navigation" },
                LiElementClasses = new[] { "page-item" },
                PageClasses = new[] { "page-link" },
                LinkToNextPageFormat = ">"
            })

    </div>

    @*<div class="col-lg-12">
            <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
        </div>*@


</div>

@section Scripts{
    <script>

        $(document).ready(function () {
            $('ul.pagination > li.disabled > a').addClass('page-link');
        });
    </script>
}