@model lab05082020.Models.Blog

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/css/bootstrap.min.css">
    <title>Create</title>
</head>
<body>

    <div class="container">
        <div class="row">
            <h4>Blog</h4>
            <hr />
            <div class="row">
                <div class="col-md-4">
                    <form asp-action="Create">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Title" class="control-label"></label>
                            <input asp-for="Title" class="form-control" data-type="slug-source" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Slug" class="control-label"></label>
                            <input asp-for="Slug" class="form-control"  data-type="slug-input"/>
                            <span asp-validation-for="Slug" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Create" class="btn btn-primary" />
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <a asp-action="Index">Back to List</a>
            </div>
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script>
        String.prototype.removeAcento = function () {
            var text = this.toLowerCase();
            text = text.replace(new RegExp('[ÁÀÂÃ]', 'gi'), 'a');
            text = text.replace(new RegExp('[ÉÈÊ]', 'gi'), 'e');
            text = text.replace(new RegExp('[ÍÌÎ]', 'gi'), 'i');
            text = text.replace(new RegExp('[ÓÒÔÕ]', 'gi'), 'o');
            text = text.replace(new RegExp('[ÚÙÛÜ]', 'gi'), 'u');
            text = text.replace(new RegExp('[Ç]', 'gi'), 'c');
            text = text.replace(new RegExp('[ç]', 'gi'), 'c');
            text = text.replace(new RegExp('[Ə]', 'gi'), 'e');
            text = text.replace(new RegExp('[ə]', 'gi'), 'e');
            text = text.replace(new RegExp('[I]', 'gi'), 'i');
            text = text.replace(new RegExp('[ı]', 'gi'), 'i');
            text = text.replace(new RegExp('[Ğ]', 'gi'), 'g');
            text = text.replace(new RegExp('[ğ]', 'gi'), 'g');
            text = text.replace(new RegExp('[Ş]', 'gi'), 'sh');
            text = text.replace(new RegExp('[ş]', 'gi'), 'sh');
            return text;
        };

        String.prototype.slugify = function () {
            return this.toString().toLowerCase().removeAcento().trim()
                .replace(/\s+/g, '-')           // Replace spaces with -
                .replace(/[^\w\-]+/g, '')       // Remove all non-word chars
                .replace(/\-\-+/g, '-')         // Replace multiple - with single -
                .replace(/^-+/, '')             // Trim - from start of text
                .replace(/-+$/, '');            // Trim - from end of text
        };

        $("input[data-type='slug-source']").blur(function () {
            $("input[data-type='slug-input']").val($(this).val().slugify());
        });
    </script>

</body>
</html>
