<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap Min CSS -->
    <link rel="stylesheet" href="~/Public/assets/css/bootstrap.min.css">
    <!-- IcoFont Min CSS -->
    <link rel="stylesheet" href="~/Public/assets/css/icofont.min.css">
    <!-- Owl Carousel Min CSS -->
    <link rel="stylesheet" href="~/Public/assets/css/owl.carousel.min.css">
    <!-- Owl Theme Default Min CSS -->
    <link rel="stylesheet" href="~/Public/assets/css/owl.theme.default.min.css">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="~/Public/assets/css/animate.min.css">
    <!-- Magnific Popup Min CSS -->
    <link rel="stylesheet" href="~/Public/assets/css/magnific-popup.css">
    <!-- Jquery UI CSS -->
    <link rel="stylesheet" href="~/Public/assets/css/jquery.ui.css">
    <!-- Style CSS -->
    <link rel="stylesheet" href="~/Public/assets/css/style.css">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="~/Public/assets/css/responsive.css">

    <title>ProMedi - Medical HTML Template</title>

    <link rel="icon" type="image/png" href="~/Public/assets/img/favicon.png">
</head>

<body>
    <!-- Preloader -->
    <div class="preloader">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="lds-heart">
                    <div></div>
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader -->
    <!-- Main header -->
    <header class="main-header">
        <!-- Header info text-->
        <div class="header-info-text">
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-lg-6">
                        <ul class="contact-info">
                            <li>
                                <i class="icofont-phone"></i>
                                Call us: +44 458 7895
                            </li>
                            <li>
                                <i class="icofont-location-pin"></i>
                                210 Quadra Street Victoria, Canada
                            </li>
                        </ul>
                    </div>

                    <div class="col-md-4 col-lg-6">
                        <ul class="social-links">
                            <li>
                                <a href="~/Public/~/Public#">
                                    <i class="icofont-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/Public/~/Public#">
                                    <i class="icofont-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/Public/~/Public#">
                                    <i class="icofont-linkedin"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/Public/~/Public#">
                                    <i class="icofont-google-plus"></i>
                                </a>
                            </li>
                            <li>
                                <a href="~/Public/~/Public#">
                                    <i class="icofont-instagram"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header info text -->
        <!-- Navbar -->
        <div class="navbar-container header-sticky">
            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                    <a class="navbar-brand" href="~/Public/~/Publicindex.html">
                        <img src="~/Public/assets/img/logo.png" alt="Logo">
                    </a>

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav m-auto">
                            <li class="nav-item active dropdown">
                                <a class="nav-link dropdown-toggle" href=@Url.Action("Index","Home") role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Home
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href=@Url.Action("Index","About")>About</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Departments
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href=@Url.Action("Index","Departments") >Cardiology</a>
                                    <a class="dropdown-item" href=@Url.Action("Index","Departments") >Gynecology</a>
                                    <a class="dropdown-item" href=@Url.Action("Index","Departments") >Neurology</a>
                                    <a class="dropdown-item" href=@Url.Action("Index","Departments") >Orthopedics</a>
                                    <a class="dropdown-item" href=@Url.Action("Index","Departments") >Gastrology</a>
                                    <a class="dropdown-item" href=@Url.Action("Index","Departments") >Pulmonology</a>
                                    <a class="dropdown-item" href=@Url.Action("Index","Departments") >Laboratory</a>
                                    <a class="dropdown-item" href=@Url.Action("Index","Departments") >Urology</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Pages
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="#">Services</a>
                                    <a class="dropdown-item" href=@Url.Action("Index","Doctors")>Our Doctors</a>
                                    <a class="dropdown-item" href="#">Book Appoinment</a>
                                    <a class="dropdown-item" href="#">FAQ</a>
                                    <a class="dropdown-item" href="#">Error 404</a>
                                </div>
                            </li>

                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="~/Public/~/Public#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Blog
                                </a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="~/Public/~/Publicblog.html">Blog</a>
                                    <a class="dropdown-item" href="~/Public/~/Publicblog-details.html">Single Blog</a>
                                </div>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" href="~/Public/~/Publiccontact.html">Contact</a>
                            </li>
                        </ul>

                        <div class="appointment-inline my-lg-0">
                            <a href="~/Public/~/Publicappointment.html" class="appointment-btn">
                                Make an Appointment
                                <i class="icofont-simple-right"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- End Navbar -->
    </header>
    <!-- End Main header -->
    @RenderBody()

    <!-- Footer -->
    <footer class="pt-100 pb-50">
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-4">
                    <div class="footer-widget">
                        <a href="~/Public/~/Public#" class="footer-logo">
                            <img src="~/Public/assets/img/logo.png" alt="Logo">
                        </a>

                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>

                        <ul class="socials-links">
                            <li><a href="~/Public/~/Public#"><i class="icofont-facebook"></i></a></li>
                            <li><a href="~/Public/~/Public#"><i class="icofont-twitter"></i></a></li>
                            <li><a href="~/Public/~/Public#"><i class="icofont-google-plus"></i></a></li>
                            <li><a href="~/Public/~/Public#"><i class="icofont-linkedin"></i></a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-2">
                    <div class="footer-widget">
                        <h3>Quick Links</h3>
                        <ul>
                            <li><a href="~/Public/~/Public#">Home</a></li>
                            <li><a href="~/Public/~/Public#">About</a></li>
                            <li><a href="~/Public/~/Public#">Doctors</a></li>
                            <li><a href="~/Public/~/Public#">Gallery</a></li>
                            <li><a href="~/Public/~/Public#">Blog</a></li>
                            <li><a href="~/Public/~/Public#">Contact</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="footer-widget">
                        <h3>Departments</h3>
                        <ul>
                            <li><a href="~/Public/~/Public#">Cardiology</a></li>
                            <li><a href="~/Public/~/Public#">Neurology</a></li>
                            <li><a href="~/Public/~/Public#">Orthopedics</a></li>
                            <li><a href="~/Public/~/Public#">Radiology</a></li>
                            <li><a href="~/Public/~/Public#">Surgery</a></li>
                            <li><a href="~/Public/~/Public#">Urology</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-sm-12 col-md-4 col-lg-3">
                    <div class="footer-widget">
                        <h3>Contact Us</h3>
                        <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>

                        <div class="foot-contact-info">
                            <i class="icofont-phone"></i>
                            <p>+1-604-555-5556 <br> +1-604-555-5556</p>
                        </div>

                        <div class="foot-contact-info">
                            <i class="icofont-email"></i>
                            <p>info@promedi.com <br> suport@promedi.com</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="separate-line"></div>

            <div class="row bottom-footer">
                <div class="col-md-6 col-lg-6">
                    <p>Copyright @@ 2019, Promedi. All rights reserved.</p>
                </div>
                <div class="col-md-6 col-lg-6">
                    <ul>
                        <li><a href="~/Public/~/Public#">Privac Policy</a></li>
                        <li><a href="~/Public/~/Public#">Terms & Conditions</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer -->
    <!-- Jquery Min JS -->
    <script src="~/Public/assets/js/jquery.min.js"></script>
    <!-- Popper Min JS -->
    <script src="~/Public/assets/js/popper.min.js"></script>
    <!-- Bootstrap Min JS -->
    <script src="~/Public/assets/js/bootstrap.min.js"></script>
    <!-- Owl Carousel Min JS -->
    <script src="~/Public/assets/js/owl.carousel.min.js"></script>
    <!-- Magnific Popup Min JS -->
    <script src="~/Public/assets/js/jquery.magnific-popup.min.js"></script>
    <!-- Waypoints Min JS -->
    <script src="~/Public/assets/js/waypoints.min.js"></script>
    <!-- Counter UP Min JS -->
    <script src="~/Public/assets/js/jquery.counterup.min.js"></script>
    <!-- Jquery UI JS -->
    <script src="~/Public/assets/js/jquery.ui.js"></script>
    <!-- ajaxChimp Min JS -->
    <script src="~/Public/assets/js/jquery.ajaxchimp.min.js"></script>
    <!-- Form Validator JS -->
    <script src="~/Public/assets/js/form-validator.min.js"></script>
    <!-- Contact Form JS -->
    <script src="~/Public/assets/js/contact-form-script.js"></script>
    <!-- Map API JS FILES -->
    <script async defer src="~/Public/https://maps.googleapis.com/maps/api/js?key=AIzaSyApghCIIx9MpQhA768sKXxvR_Okg0SF2k4&amp;callback=initMap"></script>
    <!-- Fox Map JS FILE -->
    <script src="~/Public/assets/js/promedi-map.js"></script>
    <!-- Main JS -->
    <script src="~/Public/assets/js/script.js"></script>
</body>

</html>