@{
    ViewBag.Title = "Home Page";
}

<!-- Hero Slider -->
<div class="hero-slider owl-carousel owl-theme">
    <div class="hs-item hs-item-bg1">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>We Always Care Your <br> Health</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="hs-item hs-item-bg2">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>Best Care & Better <br> Doctor</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="hs-item hs-item-bg3">
        <div class="d-table">
            <div class="d-tablecell">
                <div class="hero-text text-center">
                    <h1>We Always Care Your <br> Health</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Hero Slider -->
<!-- Services -->
<div class="services-area services-box">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-lg-4">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="~/Public/assets/img/services/1.jpg" alt="Service Image" />
                    </div>

                    <div class="caption-text text-center">
                        <h3>Emergency Care</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="~/Public/assets/img/services/2.jpg" alt="Service Image" />
                    </div>

                    <div class="caption-text text-center">
                        <h3>Qualified Doctors</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-lg-4 offset-md-3 offset-lg-0">
                <div class="single-card">
                    <div class="thumb-img">
                        <img src="~/Public/assets/img/services/3.jpg" alt="Service Image" />
                    </div>

                    <div class="caption-text text-center">
                        <h3>24/7 Hours Service</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Services -->
<!-- About Section -->
<section class="about-section ptb-100">
    <div class="container">
        <div class="row justify-content-center align-items-center">
            <div class="col-md-12 col-lg-6">
                <div class="about-us-img">
                    <img src="~/Public/assets/img/about-us.jpg" alt="About Us Image">
                </div>
            </div>

            <div class="col-md-12 col-lg-6">
                <div class="about-us-text">
                    <h2>50 Years of Experience in Medical</h2>

                    <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                    <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae abveritatis quasi architecto beatae vitae dicta sunt explicabo.</p>

                    <a href="#" class="default-btn">About Us</a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End about section -->
<!-- Call To Action -->
<section class="call-to-action">
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-lg-9">
                <div class="call-to-action-text">
                    <i class="icofont-first-aid"></i>
                    <h3>Health Care Center</h3>
                    <p>if you have any Emerangcy by health problem contact this <span>No. 035 687 9514</span> or contact form</p>
                </div>
            </div>

            <div class="col-md-12 col-lg-3">
                <a href="#" class="default-btn">Contact Us</a>
            </div>
        </div>
    </div>
</section>
<!-- End Call To Action -->
<!-- Departments section -->
<section class="department-section pt-100 pb-50 gray-bg">
    <div class="container">
        <div class="section-title">
            <h2>Our Departments</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="row">
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-heart-beat"></i>
                    <h3>Cardiology</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-brain"></i>
                    <h3>Neurology</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-crutch"></i>
                    <h3>Orthopedics</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-xray"></i>
                    <h3>Radiology</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-surgeon"></i>
                    <h3>Surgery</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-laboratory"></i>
                    <h3>Urology</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-autism"></i>
                    <h3>Psychosocial</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                </div>
            </div>
            <div class="col-md-4 col-lg-3">
                <div class="single-department">
                    <i class="icofont-tooth"></i>
                    <h3>Dental</h3>
                    <p>Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas.</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Departments section -->
<!-- Video Section -->
<section class="video-section ptb-100">
    <div class="container">
        <div class="section-title white-title">
            <h2>Watch Our Video</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="video-content mb-minus-330">
            <div class="d-table">
                <div class="d-tablecell">
                    <div class="sonar-wrapper">
                        <div class="sonar-emitter">
                            <div class="sonar-wave"></div>
                            <a href="https://www.youtube.com/watch?v=LFBxRxwY4Qw" class="play-video popup-youtube">
                                <i class="icofont-play"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Video Section -->
<!-- Counter section -->
<div class="counter-section pt-100 pb-70 pt-330">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-simple-smile"></i>
                    <h3 class="counter">25000</h3>
                    <p>Happy Patients</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-doctor-alt"></i>
                    <h3 class="counter">180</h3>
                    <p>Experienced Doctors</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-operation-theater"></i>
                    <h3 class="counter">1500</h3>
                    <p>Successful Operations</p>
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-3">
                <div class="single-counter">
                    <i class="icofont-bed"></i>
                    <h3 class="counter">2800</h3>
                    <p>Numbers of Beds</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End counter section -->
<!-- Expert Doctors -->
<section class="expert-doctors ptb-100 gray-bg pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Our Expert Doctors</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="expert-doctors-carousel owl-carousel owl-theme owl-theme-2">
            <div class="single-card">
                <div class="thumb-img">
                    <img src="~/Public/assets/img/doctors/1.jpg" alt="Doctor Image" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dr. Anym Jackson</h3>
                    <span class="designation mb-10">Dental Specialist</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="~/Public/assets/img/doctors/2.jpg" alt="Doctor Image" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dr. Mark Jacobson</h3>
                    <span class="designation mb-10">Cardiology</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="~/Public/assets/img/doctors/3.jpg" alt="Doctor Image" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dr. Alex Davidson</h3>
                    <span class="designation mb-10">Haematology</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                </div>
            </div>

            <div class="single-card">
                <div class="thumb-img">
                    <img src="~/Public/assets/img/doctors/4.jpg" alt="Doctor Image" />
                    <div class="hover-social">
                        <div class="d-table">
                            <div class="d-tablecell">
                                <ul>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-linkedin"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-twitter"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="icofont-facebook"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="caption-text text-center">
                    <h3>Dr. Jaka Alex</h3>
                    <span class="designation mb-10">Psychosocial</span>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Edn Expert Doctors -->
<!-- Appointment Area -->
<div class="appointment-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 col-lg-5 p-0">
                <div class="contant-number">
                    <h3><i class="icofont-phone"></i> 1-604-555-5555</h3>
                </div>
            </div>
            <div class="col-md-12 col-lg-7 p-0">
                <div class="appointment-form">
                    <h2 class="title">Make an Appointment</h2>
                    <form>
                        <div class="row">
                            <div class="col-md-6 col-lg-6 pr-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id_name" placeholder="Name">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10">
                                <div class="form-group">
                                    <input type="email" class="form-control" id="id_email" placeholder="Email">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pr-10">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="id_phone_number" placeholder="Phone Number">
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Department</option>
                                        <option>Cardiology</option>
                                        <option>Neurology</option>
                                        <option>Orthopedics</option>
                                        <option>Radiology</option>
                                        <option>Surgery</option>
                                        <option>Urology</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pr-10">
                                <div class="form-group">
                                    <select class="form-control">
                                        <option>Doctor</option>
                                        <option>Dr. Anym Jackson</option>
                                        <option>Dr. Mark Jacobson</option>
                                        <option>Dr. Alex Davidson</option>
                                        <option>Dr. Jaka Alex</option>
                                    </select>
                                </div>
                            </div>

                            <div class="col-md-6 col-lg-6 pl-10">
                                <div class="form-group">
                                    <input class="form-control" id="datepicker" placeholder="Booking Date">
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" id="message" rows="4" placeholder="Message"></textarea>
                        </div>

                        <button type="submit" class="btn book-now-btn">Book Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Appointment Area -->
<!-- Patient Feedback -->
<section class="patient-feedback ptb-100">
    <div class="container">
        <div class="section-title">
            <h2>Patient Feedback</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="feedback-carousel owl-carousel owl-theme owl-theme-2">
            <div class="single-feedback">
                <div class="feedback-text">
                    <i class="icofont-quote-right"></i>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                    <div class="profile-content">
                        <img src="~/Public/assets/img/patient/1.jpg" alt="Patient" />
                        <h4>Anym Jackson</h4>
                    </div>
                </div>
            </div>

            <div class="single-feedback">
                <div class="feedback-text">
                    <i class="icofont-quote-right"></i>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                    <div class="profile-content">
                        <img src="~/Public/assets/img/patient/2.jpg" alt="Patient" />
                        <h4>Mark Rylance</h4>
                    </div>
                </div>
            </div>

            <div class="single-feedback">
                <div class="feedback-text">
                    <i class="icofont-quote-right"></i>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                    <div class="profile-content">
                        <img src="~/Public/assets/img/patient/3.jpg" alt="Patient" />
                        <h4>Natalie Portman</h4>
                    </div>
                </div>
            </div>

            <div class="single-feedback">
                <div class="feedback-text">
                    <i class="icofont-quote-right"></i>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                    <div class="profile-content">
                        <img src="~/Public/assets/img/patient/4.jpg" alt="Patient" />
                        <h4>Idris Elba</h4>
                    </div>
                </div>
            </div>

            <div class="single-feedback">
                <div class="feedback-text">
                    <i class="icofont-quote-right"></i>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.</p>

                    <div class="profile-content">
                        <img src="~/Public/assets/img/patient/5.jpg" alt="Patient" />
                        <h4>Scarlett Johansson</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Patient Feedback -->
<!-- CTA Area -->
<div class="cta-area gray-bg ptb-100">
    <div class="container">
        <div class="cta-text-content">
            <h3>We are constantly evaluating and implementing ways to improve patient safety.</h3>
            <p>Please speak up when you have questions or concerns.</p>

            <div class="cta-contant">
                <i class="icofont-phone"></i>
                1-604-555-5555
            </div>
        </div>

        <div class="cta-doctor-img">
            <img src="~/Public/assets/img/doctor.png" alt="Doctor">
        </div>
    </div>
</div>
<!-- CTA Area -->
<!-- Latest news section -->
<section class="latest-news ptb-100 pb-70">
    <div class="container">
        <div class="section-title">
            <h2>Latest News</h2>
            <p>We are ready to build your dream future Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorum, beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
        </div>

        <div class="latest-news-carousel owl-carousel owl-theme owl-theme-2">
            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="#">
                        <img src="~/Public/assets/img/news/1.jpg" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="#">Baby Talk: Is Surrogacy An Option?</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Public/assets/img/patient/1.jpg" alt="">
                            <a href="#">Dr. Jacson</a>
                        </li>
                        <li>5 Jan, 2019</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                    <a href="#" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>

            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="#">
                        <img src="~/Public/assets/img/news/2.jpg" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="#">4 Simple Tips To Dental Patient Marketing</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Public/assets/img/patient/1.jpg" alt="">
                            <a href="#">Dr. Jack</a>
                        </li>
                        <li>7 Jan, 2019</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                    <a href="#" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>

            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="#">
                        <img src="~/Public/assets/img/news/3.jpg" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="#">How to Donate Medical Supplies</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Public/assets/img/patient/1.jpg" alt="">
                            <a href="#">Dr. Tom</a>
                        </li>
                        <li>8 Jan, 2019</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                    <a href="#" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>

            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="#">
                        <img src="~/Public/assets/img/news/4.jpg" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="#">Simple First Aid Tips For An Injured Ankle</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Public/assets/img/patient/1.jpg" alt="">
                            <a href="#">Dr. Jaci</a>
                        </li>
                        <li>15 Jan, 2019</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                    <a href="#" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>

            <div class="single-card actical-card">
                <div class="thumb-img">
                    <a href="#">
                        <img src="~/Public/assets/img/news/5.jpg" alt="News Image" />
                    </a>
                </div>

                <div class="caption-text">
                    <h3><a href="#">Tips for Moms to Detect Medicare Scams</a></h3>

                    <ul class="meta-tag">
                        <li class="author">
                            <img src="~/Public/assets/img/patient/1.jpg" alt="">
                            <a href="#">Dr. Alert</a>
                        </li>
                        <li>25 Jan, 2019</li>
                        <li><i class="icofont-speech-comments"></i> 30</li>
                    </ul>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore</p>

                    <a href="#" class="read-more">Read More <i class="icofont-swoosh-right"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Latest news section -->
<!-- Our Newsletter -->
<section class="newsletter-section ptb-100">
    <div class="container">
        <div class="section-title white-title">
            <h2>Join Our Newsletter</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do</p>
        </div>

        <div class="subscribe-from">
            <form class="newsletter-form" data-toggle="validator">
                <input type="email" class="form-control" placeholder="Enter email" name="EMAIL" required autocomplete="off">
                <button type="submit" class="btn submit-btn"><i class="icofont-location-arrow"></i></button>
                <div id="validator-newsletter" class="form-result"></div>
            </form>
        </div>
    </div>
</section>
<!-- End Our Newsletter -->