@model List<Service>
@{
    ViewData["Title"] = "Index";
}

    <!-- breadcrumb-banner-area -->
    <div class="breadcrumb-banner-area ptb-120 bg-opacity" style="background-image:url(assets/img/bg/6.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="breadcrumb-text text-center">
                        <h2>service</h2>
                        <ul class="breadcrumb-menu">
                            <li><a href="~/#">service</a></li>
                            <li><a href="~/#">about us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-banner-area-end -->
    <!-- Our-Services-area-start -->
    <div class="Our-Services-area pt-120 pb-65">
        <div class="container">
            <div class="section-info text-center mb-60">
                <h2>Our-Services</h2>
                <p>Lorem Ipsum is simply dummy text of the printing and. </p>
            </div>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="our-services-wrapper text-center mb-50">
                        <div class="our-services-icon">
                            <i class="flaticon-paint-roller"></i>
                        </div>
                        <div class="our-services-text">
                            <h3><a href="~/service-details.html">Wall Paintings</a></h3>
                            <p>Lorem ipsum dolor sit amet, consecte turlol adipi sicin loss elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-services-wrapper text-center mb-50">
                        <div class="our-services-icon">
                            <i class="flaticon-pipe-icon"></i>
                        </div>
                        <div class="our-services-text">
                            <h3><a href="~/service-details.html">pipe fitting</a></h3>
                            <p>Lorem ipsum dolor sit amet, consecte turlol adipi sicin loss elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-services-wrapper text-center mb-50">
                        <div class="our-services-icon">
                            <i class="flaticon-chef-icon"></i>
                        </div>
                        <div class="our-services-text">
                            <h3><a href="~/service-details.html">kitchen counter</a></h3>
                            <p>Lorem ipsum dolor sit amet, consecte turlol adipi sicin loss elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-services-wrapper text-center mb-50">
                        <div class="our-services-icon">
                            <i class="flaticon-sofa-icon"></i>
                        </div>
                        <div class="our-services-text">
                            <h3><a href="~/service-details.html">furniture Moving</a></h3>
                            <p>Lorem ipsum dolor sit amet, consecte turlol adipi sicin loss elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-services-wrapper text-center mb-50">
                        <div class="our-services-icon">
                            <i class="flaticon-charger-icon"></i>
                        </div>
                        <div class="our-services-text">
                            <h3><a href="~/service-details.html">awire change</a></h3>
                            <p>Lorem ipsum dolor sit amet, consecte turlol adipi sicin loss elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="our-services-wrapper text-center mb-50">
                        <div class="our-services-icon">
                            <i class="flaticon-door-icon"></i>
                        </div>
                        <div class="our-services-text">
                            <h3><a href="~/service-details.html">door replace</a></h3>
                            <p>Lorem ipsum dolor sit amet, consecte turlol adipi sicin loss elit, sed do eiusmod tempor incididunt ut labore et dolore</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Our-Services-area-start -->